html,body{
    margin: 0%;
    padding: 0%;
}

img{
    line-height: 0;
    vertical-align: bottom;
}

#qui-je-suis .section_content{
    color: white;
    font-family: roboto;
    font-family: 'Roboto', sans-serif;
    background-color: #DFC0AF;
}

#ce-que-je-fais .section_content{
    background-color: #2B3942;
    color: white;
    font-family: 'Roboto', sans-serif;

}
#ce-que-je-veux .section_content{
    background-color:#D8B684;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#mes-projets{
    background-color:#734E40;
    color:white;
    font-family: 'Roboto', sans-serif;
}

#portfolio{
    background-color:#734E40;
}

#contact{
    background-color: #2B3942;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.titre{
    font-family: 'Dancing Script', cursive;
    margin-right: 5%;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 70px;
    padding-bottom: 10%;
}

.titre_intermediaire{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;

}

.texte{
    margin-bottom: 0%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
}

.logo_amelie_dieppois{
    width: 40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 10%;
}

.section_content {
    padding: 10em 5em;
  }


#photo_amelie_dieppois{
    background-image: url("img/photo_amelie_dieppois copie.jpg");
    background-size: cover;
}
.projets_amelie_dieppois {
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article img {
    order: -1;
  }
  
  main {
    box-shadow: -1px -1px 0 #ccc;
  }
  article {
    padding: 1em;
    box-shadow: 1px 1px 0 #ccc;
  }
  img {
    max-width: 100%;
  }
  
  h1 ~ p {
    margin-top: 0;
  }

.titre_portfolio{
    color: white;
}

.logo_réseaux_sociaux{
    width: 15;
}
@media screen and (min-width: 940px) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #qui-je-suis {
        grid-column: 2;
        grid-row: 1;
    }
    .photo_amelie_dieppois{
        grid-column: 1;
        grid-row: 1;
    }
    #ce-que-je-fais{
        grid-column: 1;
        grid-row: 2;
    }
    #ce-que-je-fais1{
        grid-column: 2;
        grid-row: 2;
       background-image: url("img/mock_up_illustration_goodflix.jpg");
       background-size: cover;
       background-attachment: fixed;
   }
    #ce-que-je-veux{
        grid-column: 2;
        grid-row: 3;
    }
    #ce-que-je-veux1{
        background-image: url("img/mock_up_carte_de_visite.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    #mes-projets{
        grid-column: 1;
        grid-row: 4;
    }
    #portfolio{
        grid-column: 2;
        grid-row: 4;
    }

    footer{
        display: initial;
    }
}

